body{
    font-family:Arial;
    background:#f3f4f6;
    padding:20px;
}
.container{max-width:1100px;margin:auto;}
.card{
    background:white;
    padding:15px;
    margin-bottom:20px;
    border-radius:10px;
}
h1,h2{text-align:center;color:#2563eb;}
select,button{padding:8px;width:100%;margin:5px 0;}
.controls{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}
button{
    border:none;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;
}
.neg{background:#dc2626;color:white;}
.run{background:#16a34a;color:white;}
.boundary{background:#4f46e5;color:white;}
.dot{background:#9ca3af;color:white;}
.wkt{background:black;color:white;}
.big{font-size:32px;text-align:center;font-weight:bold;}
table{width:100%;border-collapse:collapse;}
th,td{padding:8px;border-bottom:1px solid #ddd;text-align:center;}
th{background:#f9fafb;}
